
body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#6a0dad,#00c9a7);
  color:white;
  text-align:center;
}

nav{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:20px;
  background:rgba(0,0,0,0.3);
}

nav a{
  color:white;
  text-decoration:none;
  padding:10px 20px;
  border-radius:30px;
  transition:0.3s;
}

nav a:hover, button:hover{
  background:white;
  color:#6a0dad;
  box-shadow:0 0 20px white;
  transform:scale(1.1);
}

.section{
  padding:60px 20px;
}

.card{
  background:rgba(255,255,255,0.1);
  margin:15px auto;
  padding:15px;
  border-radius:15px;
  width:80%;
  max-width:400px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
}

input{
  padding:10px;
  border-radius:20px;
  border:none;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  margin-top:10px;
}

@media(max-width:768px){
  nav{
    flex-direction:column;
  }
}
